<div class="list" id="list-<%= list.id %>">
  <div class="list-title">
    <span class="list-content"><%= link_to list.content, edit_list_path(list.id) %></span>
    <span class="timestamp">
      最終更新：<%= list.updated_at %>
    </span>
  </div>
  <div class="list-item">
    <span class="item">
        <% list.items.each do |item| %>
          <ul>
            <li>
              <form id="checkbox-form" action="#">
                <input id="checkbox" type="checkbox">
              </form>
              <%= item.content %>
              <%= link_to '(アイテム削除)', "/lists/#{item.list_id}/items/#{item.id}", data: { "turbo-method": :delete, turbo_confirm: "本当に削除しますか？" } %>
            </li>
          </ul>
        <% end %>
        <%= form_with(model: [@list, @item]) do |f| %>
          <div class="field">
            <%= f.text_field :content, placeholder: 'アイテムのタイトルを入力してください' %>
            <%= f.hidden_field :list_id, value: list.id %>
          </div>
          <%= f.submit 'アイテム作成', class: 'btn btn-primary' %>
        <% end %>
    </span>
  </div>
</div>